<aside class="fixed top-0 right-0 z-20 hidden h-full text-white hover:text-darkpurple bg-lightpurple transition-colors md:block min-w-12 lg:min-w-16 xl:min-w-20">
    <div class="absolute right-0 z-10 flex items-center w-12 h-12 font-sans text-xl whitespace-no-wrap transition-colors duration-100 origin-top-left transform -rotate-90 group bg-lightpurple lg:w-16 lg:h-16 xl:text-[4rem] xl:w-20 xl:h-20 top-full">
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp;  
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp;  
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp;  
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp;  
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp;  
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
        <div class="animate-marquee whitespace-nowrap" aria-hidden="true">
            01 - 15 Mai 2024&nbsp;&nbsp; 
        </div>
    </div>
</aside>